/*
    Created on : Aug 2, 2017, 2:10:30 PM
    Author     : fhafner
*/

/* Login Page
-------------------------*/
.jacq-login {
    font-family: 'Hammersmith One', sans-serif;
    margin: 5em auto;
    width: 360px;
    /*background-color: rgba(0, 0, 150, 0.25);*/
    background-color: rgba(143, 147, 65, 0.25);
    background-color: #E5CA97;
    border-radius: 2%;
    padding: 1em;
    text-align: center;
}

/* Content Page
-------------------------*/
.jacq-menu {
    position: fixed;
}

.jacq-menu-gap {
    margin-left: 25%;
}

.jacq-header {
    right: 10px;
    position: fixed;
    top: 0;
    z-index: 2;
}

.ui-g-6 {
    min-width: 210px;
}
.ui-g-3 {
    min-width: 210px;
}

.jacq-menu-item {
    width: auto !important;
}
